<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-init-method="myInit" default-destroy-method="myDestroy">
	
	<context:annotation-config/>
	<context:component-scan base-package="org.demo"/>
	<context:property-placeholder location="classpath:config.properties"/>
	
	<bean id="parentTriangle" class="org.demo.Triangle" autowire="byName">
		<property name="points">
			<list>
				<ref bean="pointA"/>			
			</list>
		</property>
	</bean>
	
	<bean id="triangle" class="org.demo.Triangle" autowire="byName" parent="parentTriangle">
		<property name="points">
			<list merge="true">
				<ref bean="pointB"/>
			</list>
		</property>
	</bean>
	
	<bean id="pointA" class="org.demo.Point">
		<property name="x" value="${pointA.x}"></property>
		<property name="y" value="${pointA.y}"></property>
	</bean>
			
	<bean id="pointB" class="org.demo.Point">
		<property name="x" value="0"></property>
		<property name="y" value="0"></property>
	</bean>
	
	<bean id="pointC" class="org.demo.Point">
		<property name="x" value="0"></property>
		<property name="y" value="20"></property>
	</bean>
	
	<!-- Message Resource -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="mymessages"/>
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
	<!-- <bean class="org.demo.DisplayNameBeanPostProcessor" /> -->
</beans>